<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Caption Genarator</title>
    <link rel="stylesheet" href={{url_for('static',filename='style2.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Image Caption Genarator</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About Image Caption Genarator</a>
         <!-- <a href="#dashboard">Dashboard</a>-->
          <a href="#info">Developers</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>Image Captioning<br><span>Image</span></h2>
          <p> "Image caption generator is a process of recognizing the context of an image and annotating it with relevant captions using deep learning, and computer vision. ” -</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
     <!--
      <div class="media-icons">
        <a href="http://www.linkedin.com/in/devathi-sukesh-b87416285"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/sukeshdevathi"><i class="fab fa-github"></i></a>
      </div>
    -->
    </section>

    <section id="about">
      <h2>About Image Caption Genarator</h2>
      <p class="about-content" style="text-align: center;">
        <li>Image Caption Genarator is a web app which has a Machine Learning model running at the back.</li>
        <li>Image captioning can be used to improve assistive technology and aid visually impaired to comprehend their environment.</li>
        <li>Image caption generator is a process of recognizing the context of an image and annotating it with relevant captions using deep learning.</li>
        <li>It used CNN algorithm .</li>
        <!--<li>The codes for this project can be checked in my <a href="https://github.com/sukeshdevathi" style="color: black; font-weight: bold;">github repo</a>.</li> -->
         
      </p>
    </section>    
    <section id="info">
      <!--
      <div>
        <img src="../static/puddi.jpg" alt="Puddi">
      </div>-->
      <div>
        <h2>Developers</h2>
        <p class="about-content"><dl><h3>Team Data_Pirates</h3>
            <li>Devathi Sukesh</li><li>Chiramana Hemanth Kumar</li><li>Sanjeev kishore</li><li>Bheemendra</li>
         </p>
      </div>
      <div>
        <h2>Tech Stack</h2>
        <p class="about-content">
          <dl>
        <li>Front-End: HTML, CSS, Bootstrap</li>
        <li>Back-End: Flask</li>
        <li>IDE: Visual Studio Code</li>
        <li>Dataset: Flicker dataset</li>
      </p>
      </div>
    </section>

    <footer>
      <p>
        Developed with by Data Pirates
      </p> 
      <div class="media-icons">
       <!-- <a href="https://www.linkedin.com/in/devathi-sukesh-b87416285"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/sukeshdevathi"><i class="fab fa-github"></i></a>-->
      </div>
    </footer>

  </body>
</html>
